* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  /* outline: 1px solid red;*/
}

@font-face {
  font-family: 'arcade';
  src: url(./assets/ka1.ttf);
}

body {
  background: linear-gradient(to bottom, #010409, #5b1e87);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* Primera seccion login */

#logIn {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: center;
}

.meetArcade {
  width: 95%;
  padding-left: 20px;
  height: auto;
}

.divContainer {
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  width: 100%;
  height: 52px;
}

.log {
  width: 132px;
  height: 52px;
  font-weight: bolder;
  color: #e587ed;
  background-color: #c4c4c400;
  border: 3px solid #e587ed;
  box-shadow: 0px 0px 5px 3px rgba(229, 135, 237, 0.75);
  border-radius: 15px;
  margin-bottom: 100px;
  cursor: pointer;
  font-size: 18px;
}

/*Join Us y Shoot In */

.screenJoin {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin-top: 20px;
  align-items: center;
}

.titles {
  font-family: 'arcade', Arial, Helvetica, sans-serif;
  line-height: 28px;
  font-size: 24px;
  justify-content: center;
  margin-left: 30px;
  color: #28cef2;
  text-shadow: 0px 0px 5px #e587ed;
  height: 50px;
  padding-top: 8px;
}

.arrowBack {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px 15px 10px 15px;
}

 .pinkContainer{
    width: 100%;
    height: fit-content;
    position: absolute;
    text-align: center;
  } 

.sign {
  color: #f2a928;
  height: auto;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 68px;
}

.container img {
  width: auto;
  height: auto;
  cursor: pointer;
  z-index: 1;
}

.formContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  /* margin-left: -15px; */
}

.text {
  font-size: 18px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  height: fit-content;
  width: fit-content;
}

.inputs {
  color: #e587ed;
  width: 240px;
  height: 50px;
  background: #c4c4c440;
  border-radius: 10px;
  /* margin-left: 20px; */
  padding-left: 20px;
  font-size: 18px;
  display: flex;
}

.inputs::placeholder {
  font-size: 16px;
  color: #808080;
}

.eye {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  bottom: 2.5rem;
  left: 6.5rem;
  margin-right: 20px;
}

.messages {
  width: fit-content;
  height: fit-content;
  color: #f2a928;
  font-size: 14px;
}

.btnsSign {
  width: 119px;
  height: 46px;
  color: #e587ed;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid #e587ed;
  box-shadow: 0px 0px 5px 3px rgba(229, 135, 237, 0.75);
  border-radius: 10px;
  background-color: #c4c4c400;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.btnShootIn {
  width: 119px;
  height: 46px;
  color: #e587ed;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid #e587ed;
  box-shadow: 0px 0px 5px 3px #e587edbf;
  border-radius: 10px;
  background-color: #c4c4c400;
  margin-left: inherit;
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  color: #3c155c;
  background-color: #e587ed;
}

.containerFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 60px;
  width: auto;
  margin-top: auto;
}

.btnRefLogin {
  width: 119px;
  height: 46px;
  color: #f2a928;
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.usernameHeader {
  position: absolute;
  width: 100%;
  height: 5rem;
  left: 0px;
  top: 0px;
  background: #632195;
  border: 1px solid #E587ED;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px #e587edbf;
}

.userImg {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 6.67%;
  right: 78.61%;
  top: 14.46%;
  bottom: 21.69%;
  border: 2px solid #e587edbf;
  box-sizing: border-box;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 3px #e587edbf
}

.username {
  position: absolute;
  font-family: 'arcade', Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-size: 16px;
  margin-left: 30px;
  color: #28cef2;
  text-shadow: 0px 0px 5px #E587ED;
  height: 50px;
  padding-top: 8px;
  width: fit-content;
  height: fit-content;
  margin-left: 100px;
  margin-top: 3px;
}

.submitPost.signOut {
  visibility: hidden;
}

.main {
  align-items: center;
  position: relative;
  width: 100%;
  height: 92%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#activity {
  height: fit-content;
  width: fit-content;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  margin-left: 20px;
}

.sectionContainerPost {
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto auto;
  width: 298px;
  height: 84px;
  background: rgba(73, 25, 110, 0.24);
  border: 1px solid #e587ed;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px #e587ed;
  border-radius: 10px;
  margin-top: 150px;
  align-self: center;
}

.userImgPost {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 6.67%;
  right: 78.61%;
  top: 1%;
  bottom: 21.69%;
  border: 2px solid #e587edbf;
  box-sizing: border-box;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 3px #e587edbf
}

.sectionContainerPost>img {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid #e587edbf;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 3px #e587edbf;
  grid-row: 1/4;
  grid-column: 1/2;
  align-items: center;
  justify-items: center;
  position: absolute;
  margin-left: 10px;
}

.sectionContainerPost>button {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: end;
  margin-right: 10px;
  cursor: pointer;
}

#postFeed {
  overflow: scroll;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 90%;
  margin-top: 20px;
  align-items: center;
}

.sectionContainerPost2 {
  position: relative;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-rows: 30px 30px 30px;
  width: 300px;
  height: 90px;
  background: rgba(73, 25, 110, 0.24);
  border: 1px solid #e587ed;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px #e587ed;
  border-radius: 10px;
  margin-top: 25px;
}

.sectionContainerPost2 #photo {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid #e587edbf;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 3px #e587edbf;
  grid-row: 1/4;
  grid-column: 1/2;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.usernameAllPost {
  position: absolute;
  color: #f2a928;
  margin-left: 20px;
  margin-top: 10px;
  width: fit-content;
  height: fit-content;
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 18px;
}

.coments {
  position: absolute;
  grid-column: 2/3;
  grid-row: 2/4;
  width: 80%;
  height: fit-content;
  color: #F3F3F3;
  margin-left: 20px;
  margin-top: 10px;
}

.like {
  width: 35px;
  height: 35px;
  grid-column: 3/4;
  grid-row: 1/2;
  margin-top: 8px;
  margin-left: -3px;
  cursor: pointer;
}

.numberLikes{
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  grid-column: 3/4;
  grid-row: 1/2;
  /* grid-column: 3/5;
  grid-row: 1/2; */
  margin-left: 5px; 
  margin-top: 15px;
  text-align: center;
  color:rgb(16, 235, 235);
  text-shadow: 0px 0px 5px 1px #10ebc1;
}

.trash {
  width: 16px;
  height: 20px;
  grid-column: 3/4;
  grid-row: 2/3;
  margin-left: 6px; 
  margin-top: 14px;
  cursor: pointer;
}

.edit {
  margin-top: 8px;
  cursor: pointer;
  width: 18px;
  height: 14px;
  grid-column: 3/4;
  grid-row: 3/4;
  margin-left: 5px;
}

.usernamePost {
  color: transparent;
  font-size: 0;
  height: fit-content;
  width: 200px;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: start;
  padding-left: 10px;
}

#postText {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
  margin-right: 10px;
  width: 192px;
  height: 35px;
  color: #e587ed;
  background: #3f2959;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 18px;
  resize: none;
}

#postText::placeholder {
  font-size: 15px;
  color: #f3f3f33b;
  padding-left: 20px;
}

.newContainer{
  width: inherit;
  height: fit-content;
  display: flex;
  flex-direction: column;
  grid-row:2/3 ;
  grid-column:2/3 ;
  gap: 5px;
  padding-top: 8px;
  padding-left: 20px;
}

#inputNewValue{
width: 180px;
height: 20px;
/* background: #210E36; */
font-size: 14px;
color: #e587ed;
  background: #3f2959;
  border-radius: 4px;
}

#saveData{
width: 100px;
height: 20px;
font-size: 14px;
  line-height: 16px;
  color: #10ebc1;
  text-shadow: 0px 0px 5px #10ebc1;
  border: 1px solid #10ebc1;
  box-shadow: 0px 0px 5px 1px #10ebc1bf;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.submitPost {
  width: 76px;
  height: 25px;
  font-size: 14px;
  line-height: 16px;
  color: #10ebc1;
  text-shadow: 0px 0px 5px #10ebc1;
  border: 1px solid #10ebc1;
  box-shadow: 0px 0px 5px 1px #10ebc1bf;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

#deleteModal {
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 17rem;
  height: 15rem;
  border: 1px solid #e587ed;
  background: linear-gradient(180deg, #010409 -19.53%, #5B1E87 120.47%);
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 0px 8px #e587ed;
  z-index: 2;
}

.deleteText {
  position: absolute;
  color: #f2a928;
  margin: auto;
  top: 5rem;
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
}

.btnModal {
  margin: 1rem;
  position: relative;
  top: 10rem;
}

.submitPost {
  width: 76px;
  height: 25px;
  font-size: 14px;
  line-height: 16px;
  color: #10ebc1;
  text-shadow: 0px 0px 5px #10ebc1;
  border: 1px solid #10ebc1;
  box-shadow: 0px 0px 5px 1px #10ebc1bf;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

#editModal {
  /* display: flex; */
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 17rem;
  height: 15rem;
  border: 1px solid #e587ed;
  background: linear-gradient(180deg, #010409 -19.53%, #5B1E87 120.47%);
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 0px 8px #e587ed;
  z-index: 2;
}

.editText {
  position: absolute;
  color: #f2a928;
  /* margin: auto; */
  top: 5rem;
  width: 100%;
  height: fit-content;
  font-size: .8rem;
}

#inputValueEdit{
  position: absolute;
  top: 7rem;
  width: 200px;
  height: 30px;
  color: #808080;
  font-size: 16px;
  background-color: #210E36;
  resize: none;
}

.btnModal {
  margin: 1rem;
  position: relative;
  top: 10rem;
}


.footer {
  width: 100%;
  height: 50px;
  background: #632195;
  border: 1px solid #e587ed;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px #e587ed;
  display: flex;
  justify-content: flex-end;
  visibility: visible;
}

.footer button {
  align-self: center;
  margin-right: 10px;
}

@media screen and (min-width: 620px) {
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #logIn {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 80%;
    background: rgba(217, 30, 233, 0.3);
    border: 8px solid #D91EE9;
    box-shadow: 0px 0px 5px rgba(16, 235, 193, 0.75);
    border-radius: 45px;
  }

  .titles {
  text-align: center;
  margin-left: 0;
  font-size: 40px;
  margin-right: 70px;
  }

  .meetArcade {
    width: 488px;
    height: auto;
  }

  .screenJoin {
    background-image: url('assets/backgrounddesktop.png');
    background-size: cover;
  }

  .divContainer {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 488px;
    height: 60px;
  }
  .btnsSign {
    color: #10EBC1;
    border: 3px solid #10EBC1;
    box-shadow:  0px 5px 3px rgba(16, 235, 193, 0.75);
    background-color: #c4c4c400;
  }

  .sectionContainerPost {
    width: 75%;
    height: 6rem;
    align-self: center;
    background: rgba(217, 30, 233, 0.4);
    border: 2px solid #D91EE9;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px #E587ED;
    border-radius: 10px;
  }

  #postText {
    position: relative;
    top: 20%;
    justify-self: start;
    align-self: center;
    width: 75%;
    height: 50px;
    background: #210E36;
    font-size: 20px;
  }

  #postText::placeholder {
    font-size: 20px;
    color: #f3f3f33b;
    padding-left: 15px;
    padding-top: 8px;
  }

  .username {
    position: absolute;
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    top: 25%;
    left: 15%;
  }

  .sectionContainerPost2 {
    position: relative;
    width: 75%;
    height: auto;
    margin: 1rem;
    background: rgba(217, 30, 233, 0.4);
    border: 2px solid #D91EE9;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px #E587ED;
    border-radius: 10px;
  }

  .usernameAllPost {
    position: absolute;
    font-size: 1.5rem;
  }

  .coments {
    position: absolute;
    text-align: start;
    font-size: 1rem;
    margin-top: 30px;
  }

  .sectionContainerPost>button {
    position: relative;
    justify-self: end;
    bottom: 20px;
    align-self: center;
  }

  .submitPost.signOut {
    visibility: visible;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 16px;
    position: absolute;
    right: 10%;
    top: 30%;
    cursor: pointer;
    z-index: 3;
  }

  #postFeed {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    align-items: center;
  }

  .footer {
    visibility: hidden;
  }

  .log {
    width: 180px;
    height: 60px;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .pinkContainer{
    background: rgba(217, 30, 233, 0.3);
    border: 8px solid #D91EE9;
    box-shadow: 0px 0px 5px rgba(16, 235, 193, 0.75);
    border-radius: 60px;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
  } 
}